* ASSIGNMENT : WEB SCRAPPING
* TEST       : ATTEMPTED
* NAME       : SAHIL RUSTAGI
* CONTACT NO : 9315754759
* MAIL ID    : rustagisahil1910@gmail.com

In [256]:
#!pip install selenium

In [257]:
# PART A QUESTION
#importing the essential libraries
import pandas as pd
import os
import re
import time
from parsel import Selector
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
opts = Options()

In [258]:
#given the url of the website
url1 = 'https://www.linkedin.com/home'

In [259]:
chrome_options = Options()
chrome_options.add_argument("webdriver.chrome.driver=C:\\Users\\admin\\Downloads\\chromedriver.exe")

driver = webdriver.Chrome(options=chrome_options)
driver.get(url1)
driver.implicitly_wait(10)

In [260]:
#login information
mail = 'rustagisahil1910@gmail.com'
password = '******'

In [261]:
driver.find_element(By.XPATH,"//input[@type = 'text']").send_keys(mail)
driver.find_element(By.XPATH,"//input[@type = 'password']").send_keys(password)
driver.find_element(By.XPATH,"//button[@type='submit']").click()

In [262]:
#selected job as 'data analayst' as profile is not mentioned in the asssignment and rest all filters are as followed
driver.get('https://www.linkedin.com/jobs/search/?currentJobId=3783883058&f_CR=101165590%2C102713980%2C101452733%2C100364837%2C106808692%2C100459316%2C102264497%2C100674501&f_JT=F%2CC&f_WT=2&geoId=92000000&keywords=Data%20Analyst&location=Worldwide&origin=JOB_SEARCH_PAGE_JOB_FILTER&refresh=true&sortBy=R')

In [263]:
#passing empty list in which I need to append the fetched data
import pandas as pd
df = pd.DataFrame()
ljob_title = []
lname_location = []
lcompany_name = []
lwork_format = []
ljob_type = []
ladd_info = []

In [ ]:
for j in range(1,8):#8 page empty thats why running the loop till 7
    page_numbers =  driver.find_element(By.XPATH,f"//button[@aria-label='Page {j}']")
    page_numbers.click()
    time.sleep(3)
    
    jobs_block = driver.find_elements(By.XPATH,"//ul[@class='scaffold-layout__list-container']/li")
    #executes javascript to scroll the job div using views
    for job in jobs_block:
        driver.execute_script('arguments[0].scrollIntoView();',job)
        time.sleep(1)
    #looping and scraping job data from page j
    job_links = driver.find_elements(By.XPATH,"//ul[@class = 'scaffold-layout__list-container']/li/div/div/div[1]/div[2]/div[1]/a")
    for link in job_links:
        link.click()
        time.sleep(3)
        job_title = driver.find_element(By.CSS_SELECTOR,"span[class*='top-card__job-title-link']").text
        company_name = driver.find_element(By.CSS_SELECTOR,"div[class*='primary-description-container'] a[href*='company']").text
        work_format =  driver.find_element(By.CSS_SELECTOR,'ul > li[class*="job-insight"] > span > span').text 
        job_location = driver.find_element(By.CSS_SELECTOR,"div[class*='primary-description-container'] > div").text
        job_location_text = re.search(r'·\s*([^·]+)', job_location) #to eliminate some special characters
        job_type = driver.find_element(By.CSS_SELECTOR,'ul > li[class*="job-insight"] > span > span + span').text
        add_info = driver.find_element(By.CSS_SELECTOR,'ul > li[class*="job-details"] + li  > span').text
        ljob_title.append(job_title)
        lname_location.append(job_location)
        lcompany_name.append(company_name)
        lwork_format.append(work_format)
        ljob_type.append(job_type)
        ladd_info.append(add_info)

In [265]:
data = {'job_title':ljob_title,'company_name':lcompany_name,'work_format':lwork_format,'job_type':ljob_type,'loc_name':lname_location,'Additional_info': ladd_info}
df = pd.DataFrame(data)

In [266]:
#all job post till page 2 is visible as I have run till that for demo run
df

,job_title,company_name,work_format,job_type,loc_name,Additional_info
0,Business Intelligence Analyst,PeopleGenius,Remote,Full-time,"PeopleGenius · England, United Kingdom 6 days...",1-10 employees · Staffing and Recruiting
1,Data Analyst,Reality+,Remote,Full-time,Reality+ · United Kingdom 5 days ago · 585 a...,51-200 employees · Blockchain Services
2,Data Analyst,Careers Plus,"£45,000/yr - £55,000/yr",Remote,Careers Plus · United Kingdom 1 week ago · 5...,1-10 employees · Staffing and Recruiting
3,🌳🌳🌳 Data Analyst - Remote 🌳🌳🌳,Areti Group,Remote,Full-time,"Areti Group · United Kingdom 1 week ago · 1,...",1-10 employees · Staffing and Recruiting
4,Data Analyst,Velan Consulting Pty Ltd,Remote,Contract,Velan Consulting Pty Ltd · Australia 2 hours ...,51-200 employees · Information Technology & Se...
5,Data Analyst,Plexus Resource Solutions,"$140,000/yr - $190,000/yr",Remote,"Plexus Resource Solutions · London, England, U...",11-50 employees · Staffing and Recruiting
6,Data Analyst,Employment Hero,Remote,Full-time,Employment Hero · Australia 1 month ago · 29...,"501-1,000 employees · Human Resources Services"
7,Data Analyst,Veeva Systems,Remote,Full-time,Veeva Systems · United Kingdom Reposted 9 hou...,"5,001-10,000 employees · Software Development"
8,Data Analyst – Fully Remote (EU) 🎮,Archer - The IT Recruitment Consultancy (Malta),Remote,Full-time,Archer - The IT Recruitment Consultancy (Malta...,1-10 employees · Staffing and Recruiting
9,Research & Data Analyst,Dubit,Remote,Full-time,"Dubit · Leeds, England, United Kingdom 6 days...",51-200 employees · Computer Games
10,Analytics Consultant,illion,Remote,Full-time,"illion · Melbourne, Victoria, Australia 4 day...","501-1,000 employees · Financial Services"
11,"Junior Data Analyst | Bristol/Hybrid | £25,000...",Opus Recruitment Solutions,"£25,000/yr - £30,000/yr",Remote,"Opus Recruitment Solutions · Bristol, England,...",201-500 employees · Staffing and Recruiting
12,Data Analyst,The Engage Partnership Recruitment,£70/hr - £89/hr,Remote,The Engage Partnership Recruitment · United Ki...,11-50 employees · Staffing and Recruiting
13,Marketing Data Analyst,carsales.com.au,Remote,Full-time,"carsales.com.au · Melbourne, Victoria, Austral...","501-1,000 employees · Technology, Information ..."
14,Data Analyst (0 Experience Required),Peroptyx,Remote,Contract,"Peroptyx · Riyadh, Saudi Arabia 10 hours ago ...",11-50 employees · IT Services and IT Consulting
15,Power Bi Analyst,Programmers.io,Remote,Full-time,"Programmers.io · Bengaluru, Karnataka, India ...","501-1,000 employees · IT Services and IT Consu..."
16,Marketing Data Analyst,Kinetic Investments,Remote,Full-time,"Kinetic Investments · London, England, United ...","1-10 employees · Technology, Information and I..."
17,Data Analyst (No Experience Necessary),Peroptyx,Remote,Contract,"Peroptyx · Lisbon, Portugal 10 hours ago · 5...",11-50 employees · IT Services and IT Consulting
18,Analyst - Research and Insights,Michael Page,Remote,Full-time,Michael Page · Malaysia Reposted 4 months ago...,"5,001-10,000 employees · Staffing and Recruiting"
19,Data Analyst (Remote),"Love, Bonito",Remote,Full-time,"Love, Bonito · Malaysia 1 month ago · 612 ap...",201-500 employees · Retail Apparel and Fashion
20,Data Analyst,Rarible,Remote,Full-time,"Rarible · Lisboa, Lisbon, Portugal 4 months a...",51-200 employees · Software Development
21,Data Analyst (Remote),Portcast,Remote,Full-time,Portcast · Malaysia 1 month ago · 498 applic...,"11-50 employees · Transportation, Logistics, S..."
22,Junior Data Analyst,Jooble,Remote,Full-time,Jooble · Ukraine 1 month ago · 490 applicants,"201-500 employees · Technology, Information an..."
23,Business Intelligence Analyst,Alexander Dennis,Remote,Full-time,Alexander Dennis · United Kingdom 7 hours ago...,"1,001-5,000 employees · Motor Vehicle Manufact..."
24,Data Analyst,Planner 5D,Remote,Full-time,"Planner 5D · Lisboa, Lisbon, Portugal 3 weeks...",51-200 employees · IT Services and IT Consulting
25,Business Intelligence Analyst,Alexander Dennis,Remote,Full-time,Alexander Dennis · United Kingdom 7 hours ago...,"1,001-5,000 employees · Motor Vehicle Manufact..."
26,Data Analyst,Planner 5D,Remote,Full-time,"Planner 5D · Lisboa, Lisbon, Portugal 3 weeks...",51-200 employees · IT Services and IT Consulting
27,Data Analyst - Real World Evidence (RWE),OPEN Health,Remote,Full-time,OPEN Health · United Kingdom 2 weeks ago · 8...,"1,001-5,000 employees · Business Consulting an..."

In [ ]:
#installing gspread library for connectoin of google worksheet
#!pip install gspread

In [ ]:
#adding other essential library
#!pip install google-auth google-auth-oauthlib google-auth-httplib2

In [ ]:
# PART B QUEST
import pandas as pd
import gspread
from google.auth import exceptions
from google.auth.transport.requests import Request
from google.oauth2 import service_account


#Json file
json_key_path = 'web-scrappplnkdn-78a931048e68.json'

creds = None

try:
    creds = service_account.Credentials.from_service_account_file(
        json_key_path, scopes=['https://spreadsheets.google.com/feeds']
    )
except exceptions.DefaultCredentialsError:
    creds = None

if creds and creds.expired and creds.refresh_token:
    creds.refresh(Request())


New_file = gspread.Client(auth=creds)
New_file.session.auth = creds
spreadsheet = New_file.create('My DataFrame Sheet')


sheet = spreadsheet.get_worksheet(0)
#adding the data into worksheet
data_to_insert = df.to_dict(orient='records')
header = df.columns.tolist()

sheet.append_row(header)

#creating a loop to add on data
for row in data_to_insert:
    sheet.append_row([row[col] for col in header])

print('DataFrame has been exported to Google Sheet:', spreadsheet.url)